/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wrapper{
    width: 420px;
    background-color: transparent;
    border-radius: 10px;
    padding: 30px 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.error-message{
    color: red;
    padding:0 20px;
}
.wrapper h1{
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    color: white;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    /* background-color: blue; */
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: white;
}
.input-box i{
    position: absolute;
    right: 1rem;
    color: white;
    font-size: 1.5rem;
    top: 10px;
    transform: translate(-30%);
}
.wrapper .Login-btn{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    font-size: 16px;
    color: black;
    font-weight: 600;
}